@import "reset";
@import "fonts/museo";

// bower:scss
// endbower

// prevent page from being selectable
* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -webkit-touch-callout:none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.full {
  width: 100%;
  height: 100%;
}

.square-content-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.square-container {
  position: relative;
  margin: auto;
  height: 100%;
}

.aspect-container {
  position: relative;
  width: 100%;
}

.aspect-container:before {
  content: '';
  display: block;
  padding-top: 100%;
}

html, body {
  @extend .full;
  text-align: center;
}

body {
  padding: 10% 0 10%;
}

table {
  table-layout: fixed;
}

button {
    text-align: center;
    vertical-align: middle;
    font-size: 2vw;
    font-family: "museo_sans500", sans-serif;
}

button {
  @extend .full;
  border: 0px;
  border-radius: 10px;
  -webkit-border-radius: 12px 8px;
  -moz-border-radius: 10px / 3px;
  background: rgb(145,191,255);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#master-container {
  display:inline;
  text-align: center;
}

#board-square {
  width: 50%;
  display: inline-block;
  margin: auto;
  padding-right: 2%;
}

#control-container {
  width: 25%;
  vertical-align: top;
  display: inline-block;
  margin: auto;
}

#numpad-square {
  width: 100%;
  display: inline-block;
  margin: auto;
  margin-bottom: 1vw;
}

#menu-container {
  button {
    font-size: 2vw;
    width: 100%;
    margin-bottom: 1vw;
    padding: 1em;
  }
}

#board-container {
  @extend .square-content-container;
  td {
    vertical-align: middle;
  }
  tr {
    height: 33%;
  }
}

#board-outer {
  @extend .full;
  position: relative;
  max-height: 100%;
}

.board-inner {
  @extend .full;  
}

.square {
  @extend .full;
  background-color: rgb(145,191,255);
  display: table;
  position: relative;
}

.center-square-text {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}

.square-text {
  font-size: 2vw;
}

.expand-hover {
  z-index: 2000;
  -webkit-transform: scale(1.2);
  -webkit-box-shadow: 6px 6px 15px 0px rgba(50, 50, 50, 0.73);
  -moz-box-shadow:    6px 6px 15px 0px rgba(50, 50, 50, 0.73);
  box-shadow:         6px 6px 15px 0px rgba(50, 50, 50, 0.73);
}

.expand-select {
  z-index: 1000;
  -webkit-transform: scale(1.5);
  -webkit-box-shadow: 6px 6px 15px 0px rgba(50, 50, 50, 0.73);
  -moz-box-shadow:    6px 6px 15px 0px rgba(50, 50, 50, 0.73);
  box-shadow:         6px 6px 15px 0px rgba(50, 50, 50, 0.73);
}

.inactive, .button-select {
  background: rgba(145,191,255, 0.33);
}

.button-hover {
  background: rgba(145,191,255, 0.66);
}

#numpad-container {
  @extend .square-content-container;
  table {
    @extend .board-inner;
  }
}

// override certain properties for mobile screens
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  html, body {
    height: inherit;
  }
  body {
    padding: 5% 0 5%;
  }
  #master-container {
    display: block;
    overflow: hidden;
  }
  #board-square {
    width: 90%;
    display: block;
    padding-right: 0;
    padding-bottom: 2%;
  }
  #control-container {
    width: 90%;
    display: block;
  }
  #menu-container {
    vertical-align: top;
    display: inline-block;
    width: 35%;
    padding-left: 2%;
    button {
      margin-bottom: 2vw;
      font-size: 4vw;
    }
  }
  #numpad-square {
    width: 45%;
  }
  #numpad-container {
    button {
      font-size: 4vw;
    }
  }
  .square-text {
    font-size: 4vw;
  }
}