// bower:scss
// endbower

@import "reset";

.full {
  width: 100%;
  height: 100%;
}

html, body {
  @extend .full;
}

#master-container {
  padding-bottom: 10%;
  padding-top: 10%;
}

#center-container {
  width: 80%;
  position: relative;
  margin: auto;
  height: 100%;
}

#aspect-container {
  position: relative;
  width: 100%;
}

#aspect-container:before {
  content: ' ';
  display: block;
  padding-top: 100%;
}

#board-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#outer {
  @extend .full;
}

.inner {
  @extend .full;
  td {
    background-color: #91BFFF;
  }  
}

.expandable {
  @extend .full;
  background-color: #91BFFF;
}

.expandable:active {
  z-index: 1000;
  -webkit-transform: scale(3);
}

