include ./templates/mixins/square

doctype html
html
  head
    meta(charset='utf-8')
    title superdoku
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0') 
    // 320
    // build:css(.tmp/concat) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    #master-container
      +square(id='board-square')
          #board-container
            include ./templates/board
      #control-container
        +square(id='numpad-square')
            #numpad-container
              include ./templates/numpad
        #menu-container
          button#undo(class='menu')
            | Undo
          button#reset(class='menu')
            | Reset

      // build:js(.tmp/concat) scripts/main.js
      script(type="text/javascript", src="scripts/main.js", async=true)
      // endbuild